/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2b7a78;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    position: relative; /* Necessário para posicionar o balão */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #3aafa9;
    text-align: center;
    width: 100%;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); /* Deixar um espaço para a margem interna */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
    outline: none;
}

input[type="text"].error,
input[type="number"].error {
    border-color: #e74c3c;
}

label.error {
    color: #e74c3c;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3aafa9;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b7a78;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #2b7a78;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

.error-message {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    margin-top: 5px;
    z-index: 1;
}

.error-message::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #e74c3c transparent;
}
